@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
  url('../fonts/GothamProRegular/GothamProRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
  url('../fonts/RobotoBold/RobotoBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'),
  url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana/Verdana.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Verdana/Verdana.woff') format('woff'),
  url('../fonts/Verdana/Verdana.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
