@import "vars";


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
@media  screen and (max-width: 1682px){

}
@media  screen and (max-width: 1200px){
  .wrapper{
    max-width: 960px;
  }

}
@media  screen and (max-width: 762px){
  .wrapper{
    max-width: 480px;
  }

}
@media  screen and (max-width: 480px){
  .wrapper{
    max-width: 100%;
  }
}


