$default-font: "GothamPro", sans-serif;
$grid-gutter-width: 15px;
$gutter: $grid-gutter-width;
$grey-color: #F1F3F5;
$accent-color: #3853D7;
$dark-color: #313443;
$text-dark-color: #000;
$text-light-color: #fff;
$link-color: #777777;
$text-color: #313443;
$main-bg: #fff;
$list-text-color: #606060;
$title-dark-color: #3c3c3b;
$border-color: rgba(0,0,0,.1);
$main-wrapp-width: 1920px;
$wrapp-width: 1200px;

