@import "vars";
@import "fonts";
@import "libs";
button{
  outline: none;
}
.hide{
	display: none;
}
.show{
	display: flex;
}

::placeholder{
	color: $text-color;
	font-size: 12px;
	font-style: italic;
}
.main-wrapper{
	display: flex;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	transition: all .5s ease;
}
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: $link-color;
	cursor: pointer;
	transition: color .2s ease;
	&:hover{
		text-decoration: none;
		color: #333;
	}
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
p{
	padding: 0;
	margin: 0;
	font-family: $default-font;
	line-height: 32px;
	font-size: 15px;
	letter-spacing: 0.04em;
	color: $text-color;
	opacity: 0.87;
}
h1{
	font-family: $default-font;
	font-size: 20px;
	letter-spacing: 0.04em;
	color: $text-color;
	opacity: 0.87;
}
h2{
	font-family: $default-font;
	font-size: 15px;
	letter-spacing: 0.04em;
	color: $text-color;
	opacity: 0.87;
}

h3{
	font-family: $default-font;
	font-size: 13px;
	letter-spacing: 0.03em;
	color: $text-color;
	opacity: 0.87;
}
button.accent{
	font-family: $default-font;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	background:  rgba(56, 83, 215, 0.4);
	border: 1px solid #3853D7;
	&:hover{
		background: rgba(56, 83, 215, 0.87);
		border: 1px solid #3853D7;
	}
	&:active{
		background: rgba(56, 83, 215, 1);
		border: 1px solid #3853D7;
	}

}
button.dark{
	font-family: $default-font;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #313443;
	border: 1px solid #3853D7;
	&:hover{
		background: rgba(49, 52, 67, 0.87);

	}
	&:active{
		background: #1A1D2A;

	}

}
body{
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	margin: 0;
	height: 100%;
	min-height: 100%;
	padding: 0;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	text-align: left;
	input, textarea{
		appearance: none;
		border: none;
		outline: none;
		&:focus:required:invalid{
		border-color: red;}
		&:required:valid{
		border-color: green;
	}
	}
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.text-center{
	text-align: center;
}
.wrapper{
	position: relative;
	margin: 0 auto;
	max-width: 1580px;
	width: 100%;
	display: block;
	padding: 0;
}



@import "media"; // Always at the end
